.contact {
    background-color: var(--col-grey-300);
    padding-block: 8rem;
    &__inner {
        background-color: var(--col-dark);
        padding: 6rem;
        border-radius: 100vw;
    
        h2 {
            color: var(--col-light);
        }
        a {
            color: var(--col-light);
            text-decoration: none;
        }
    }
}