.button {
    padding: 1rem 2rem;
    border-radius: 0.6rem;
}

.feedback {
    .button {
        background-color: var(--col-light);
        color: var(--col-dark);
        transition: background-color var(--transition);
        &:hover {
            background-color: var(--col-grey-200);
            color: var(--col-dark);
        }
    }
}