@import 'typography';
@import 'colours';
@import 'buttons';
@import 'header';
@import 'footer';
@import 'blocks/blocks';

body {
    background-color: var(--col-pbh-black);
    color: var(--col-pbh-white);
    margin-top: var(--h-top);
}

@media (min-width: 992px) {
    .cols-lg-2 {
        columns: 2;
    }
    .cols-lg-3 {
        columns: 3;
    }
}

.sticky {
    position: sticky;
    top: 0; // var(--h-top);
    @media (min-width: 992px) {
        top: 0; //var(--h-top-desktop);
    }
    background-color: #fff;
    z-index: 1000;
}

#breadcrumbs {
    font-size: var(--fs-200);
    a {
        text-decoration: none;
        font-weight: var(--fw-800);
        color: var(--col-dark);
    }
}

.wp-block-group {
    @extend .container;
    background-color: white;
    padding: 3rem;
    & .container {
        padding-inline: 0;
    }
}
.container .container {
    padding-inline: 0;
}

.post_meta {
    margin-bottom: 1rem;
    display: flex;
    gap: 0.5rem;
    &__author {
        font-weight: var(--fw-800);
        text-decoration: none;
        color: var(--col-dark);
        &:hover {
            color: var(--col-red-400);
        }
    }
    &__date {
        color: var(--col-gold-400);
    }
}

.page {
    &__hero {
        width: 100%;
        aspect-ratio: 16 / 9;
        object-fit: cover;
        object-position: center;
    }
}

// show stuff that overflows horizontally
// * {
//     outline: 1px solid #f00 !important;
// }
// show stuff that overflows horizontally via console JS
/*
var all = document.getElementsByTagName("*"), i = 0, rect, docWidth = document.documentElement.offsetWidth;
for (; i < all.length; i++) {
    rect = all[i].getBoundingClientRect();
    if (rect.right > docWidth || rect.left < 0){
        console.log(all[i]);
        all[i].style.borderTop = '1px solid red';
    }
}
*/

// @mixin fluid-type($min-vw, $max-vw, $min-value, $max-value) {
// 	$factor: 1 / ($max-vw - $min-vw) * ($max-value - $min-value);
// 	$calc-value: unquote('#{ $min-value - ($min-vw * $factor) } + #{ 100vw * $factor }');

// 	font-size: $min-value; // Fallback for older browsers
// 	font-size: clamp(#{if($min-value > $max-value, $max-value, $min-value)}, #{$calc-value}, #{if($min-value > $max-value, $min-value, $max-value)});
// }


.form-control {
    border-radius: 0;
}




.wp-block-group__inner-container {
	width: 100%;
	padding-right: var(--bs-gutter-x, 1.5rem);
	padding-left: var(--bs-gutter-x, 1.5rem);
	margin-right: auto;
	margin-left: auto;

	@media (min-width: 576px) {
		max-width: 540px;
	}
	@media (min-width: 768px) {
		max-width: 720px;
	}
	@media (min-width: 992px) {
		max-width: 960px;
	}
	@media (min-width: 1200px) {
		max-width: 1140px;
	}
	@media (min-width: 1400px) {
		max-width: 1320px;
	}
}
.alignwide {
	width: 100%;
	max-width: 100%;
	margin-right: auto;
	margin-left: auto;
	padding-left: var(--bs-gutter-x, 1.5rem);
	padding-right: var(--bs-gutter-x, 1.5rem);
}

.alignfull {
	width: 100vw;
    max-width: 100%;
	margin-left: 0;
	margin-right: 0;
}


.single-work,
.page {
    background-color: var(--col-pbh-black);
    color: var(--col-pbh-white);
    padding-top: 3rem;

    &__hero {
        width: 100%;
        aspect-ratio: 16 / 9;
        object-fit: cover;
        object-position: center;
    }

    article {
        line-height: 1.6666667;
        ul {
            margin-bottom: 1.3333333em;
            margin-top: 1.3333333em;
            padding-left: 1.5833333em;
        }
        padding-bottom: 2rem;
    }

    &__logo {
        max-width: 200px;
        max-height: 80px;
        object-fit: contain;
        object-position: left center;
    }

    .glide__slide {
        transition: opacity 0.3s ease;
        opacity: 0.4;
        pointer-events: none;
    }

    .glide__slide img {
        width: 100%;
        height: auto;
        display: block;
        aspect-ratio: 16 / 9;
        object-fit: cover;
    }
    
    .glide__slide.glide__slide--active {
        opacity: 1;
        pointer-events: auto;
    }

    .glide__arrows {
        display: flex;
        justify-content: space-between;
        padding-top: 1rem
    }
    .glide__arrow {
        appearance: none;
        background-color: transparent;
        background-image: none;
        border: none;
    }

    .video-lightbox-wrapper {
        margin-inline: auto;
        position: relative;
        width: 100%;
        aspect-ratio: 16 / 9;
        overflow: hidden;
    }

}

h1 {
    font-stretch: condensed;
    font-style: italic;
    font-weight: 800;
    font-size: 1.875rem;
    line-height: 2.25rem;
    margin-bottom: 1em;

    @media (min-width: 768px) {
        font-size: 2.25rem;
        line-height: 2.5;
    }
    @media (min-width: 1024px) {
        font-size: 3rem;
        line-height: 1;
    }
}

.rotate-180 {
    transform: rotate(180deg);
}

.back a {
    -webkit-text-stroke-width: .1875rem;
    -webkit-text-stroke-color: #fff;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    text-decoration: none;
    font-weight: 800;
    font-stretch: condensed;
    font-style: italic;
    font-size: 2.25rem;
    line-height: 2.5rem;
    @media (min-width: 768px) {
        font-size: 3.75rem;
        line-height: 1;
    }
    @media (min-width: 1024px) {
        font-size: 4.5rem;
        line-height: 1;
    }

    transition: transform 0.15s cubic-bezier(.4,0,.2,1);
    &:hover {
        transform: scale(1.1);
    }
}

.insights-title {
    -webkit-text-stroke-width: .375rem;
    -webkit-text-stroke-color: #fff;
    -webkit-text-fill-color: transparent;
    font-size: 66px;
    font-style: italic;
    font-stretch: condensed;
    font-weight: 800;
    letter-spacing: -.025em;
    line-height: 1;
    text-transform: uppercase;
    margin-bottom: 0;

    @media (min-width: 360px) {
        font-size: 74px;
    }
    @media (min-width: 400px) {
        font-size: 84px;
    }
    @media (min-width: 640px) {
        font-size: 140px;
    }
    @media (min-width: 768px) {
        font-size: 170px;
    }
    @media (min-width: 1024px) {
        font-size: 224px;
    }
    @media (min-width: 1280px) {
        font-size: 280px;
    }
}

.blog {
    background-color: var(--col-pbh-blue);
    background-attachment: fixed;
    background-image: url(../img/bg-pattern.png);
    background-size: 500px;

    h2 {
        font-size: 2em;
        line-height: 1.0833333;
        margin-bottom: .8333333em;
        margin-top: 1.5em;
        font-weight: 800;
    }

    a {
        color: white;
        &:hover {
            text-decoration: none;
        }
    }
}

.blog-card {
    display: block;
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;
    background-color: var(--col-pbh-blue-700);
    padding: 2rem;
    color: var(--col-pbh-white);
    text-decoration: none;
    transition: transform 0.15s cubic-bezier(.4,0,.2,1);
    &:hover {
        color: var(--col-pbh-white);
        transform: translateY(-0.5rem);
    }

    h2 {
        margin-top: 0;
    }
}


.contact-template {
    background-color: var(--col-pbh-pink);
    background-attachment: fixed;
    background-image: url(../img/bg-pattern.png);
    background-size: 500px;

    h2 {
        color: var(_--col-pbh-black);

    }

    form {
        max-width: 32rem;
        margin-inline: auto;
    }

    .address-block {
        background-color: var(--col-pbh-blue);
        font-weight: 800;
        color: var(--col-pbh-pink);

        .border-md-end {
            @media (min-width: 992px) {
                border-right-color: var(--col-pbh-pink) !important;
                border-right-width: 4px !important;
                border-right-style: solid !important;
            }
        }
        a {
            color: var(--col-pbh-white);
            &:hover {
                text-decoration: none;
            }
        }
        h3 {
            text-transform: uppercase;
            font-weight: 800;
            color: var(--col-pbh-pink)
        }

        &__address {
            color: var(--col-pbh-white);
            font-size: 1.5rem;
            font-weight: 700;
            line-height: 2rem;
        }
    }
}

.pagination a {

    -webkit-text-stroke-color: #e6007e !important;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px;

    text-decoration: none;
    display: inline-block;

    line-height: 1;
    font-size: 2.25rem;

    transition: transform 0.15s cubic-bezier(.4,0,.2,1);

    @media (min-width: 768px) {
        font-size: 3rem;
    }
    @media (min-width: 1024px) {
        font-size: 3.75rem;
    }

    &:hover {
        transform: scale(1.1);  
    }
}