.footer {
    background-color: var(--col-dark);
    color: white;

    font-size: var(--fs-300);

    &__menu {
        ul {
            list-style: none;
            padding-inline-start: 0;
            line-height: 2;
            a {
                text-decoration: none;
                color: white;
            }
        }
    }

    &__logo {
        font-size: var(--fs-900);
        line-height: 1.1;
    }

    .colophon {
        font-size: var(--fs-200);
    }

    .cb {
        content: url(../img/cb-mono.png);
        transition: opacity var(--transition);
        opacity: 0.2;
        &:hover {
            opacity: 0.8;
        }
    }

    &__after {
        width: 100%;
        aspect-ratio: 1200 / 309;
        background-image: url( ../img/footer-txp.svg );
        object-fit: cover;
    }
}
