.footer {
    background-color: var(--col-pbh-white);
    color: var(--col-pbh-black);
    font-family: var(--ff-body);
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.75rem;
    text-transform: uppercase;
    a {
        color: var(--col-pbh-black);
        &:hover {
            color: var(--col-pbh-pink);
        }
    }
    .footer-social {
        a {
            display: grid;
            place-content: center;
            width: 3rem;
            height: 3rem;
            font-size: 2rem;
            line-height: 1;
            border-radius: 100vw;
            background-color: var(--col-pbh-black);
            color: white;
            text-decoration: none;
            &:hover {
                background-color: var(--col-pbh-pink);
            }
        }
    }
}
